<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Quản trị viên</h3>
        <strong>BS</strong>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a href="">
          <i class="fas fa-home"></i>
            Dasboard
        </a>
        <a href="" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fas fa-copy"></i>
            Quản lý chi tiết
        </a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
            <li>
                <a href="">Quản lý sản phẩm</a>
            </li>
            <li>
                <a href="">Quản lý yêu cầu khách hàng</a>
            </li>

        </ul>
    </li>
        <li >
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-briefcase"></i>
                Quản lý nhân viên
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="">Home 1</a>
                </li>
                <li>
                    <a href="">Home 2</a>
                </li>
                <li>
                    <a href="">Home 3</a>
                </li>
            </ul>
        </li>
      
        <li>
            <a href="">
                <i class="fas fa-image"></i>
                Portfolio
            </a>
        </li>
        <li>
            <a href="">
                <i class="fas fa-question"></i>
                Câu hỏi thường gặp
            </a>
        </li>
        <li>
            <a href="">
                <i class="fas fa-paper-plane"></i>
                Contact
            </a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
          COPYRIGHT 2022 © NƯỚC GIẢI KHÁT
        </li>
    </ul>
</nav>
