<!DOCTYPE html>
<html lang="en">
<app-head></app-head>
<body>
    <div class="wrapper">
        <div class="header container">
            <div class="header-menu-bars" (click)="clickToggle()">
                <i class="fa-solid fa-bars-staggered"></i>
                <!-- <i class="fa-solid fa-bars"></i> -->
            </div>
            <div class="header-toggle " [hidden]="isDisplay">
                <!-- <div>
                    <img src="../assets/images/home.png" alt="" class="menu-toggle-icon-home">
                </div> -->
                <nav>
                    <ul class="menu-toggle-list" >
                        <li class="menu-toggle-item">
                            <a href="">giới thiệu</a>
                        </li>
                        <li class="menu-toggle-item">
                            <a href="">Sản phẩm</a>
                        </li>
                        <li class="menu-toggle-item">
                            <a routerLink="../product-announ">Công bố sản phẩm</a>
                        </li>
                        <li class="menu-toggle-item">
                            <a href="../assets/newpaper.html">Tin tức</a>
                        </li>
                        <li class="menu-toggle-item">
                            <a href="../assets/contact.html">Tuyển dụng</a>
                        </li>
                        <li class="menu-toggle-item">
                            <a href="../assets/contact.html">Liên hệ</a>
                        </li>
                    </ul>
                   <div class="menu-toggle-search">
                    <img src="../assets/images/search.png" alt=""  class="menu-toggle-search-circle">
                    <img src="../assets/images/searchdown.png" alt="" class="menu-toggle-search-down">
                   </div>
                    <span class="menu-language">VN <img src="../assets/images/star.png" alt="" class="menu-icon-star"></span>
                    
                    <button (click)="logIn()">Đăng nhâp</button>
                    <button (click)="logOut()">Đăng xuất</button>
                    <img src="../assets/images/drop-down.png" alt="" class="menu-icon-dropdown">
                    <a routerLink="../admin">Quan tri vien</a>
                </nav>
            </div>
            <div class="container">
                <nav class="nav-menu">
                    <img src="../assets/images/logo-nuocgiaikhat copy 1.png" alt="" class="nav-icon-logo">
                    <img routerLink="../home-page" src="../assets/images/home.png" alt="" class="nav-icon-home">
                    <ul class="nav-menu-list">
                        <li class="nav-menu-item">
                            <a routerLink="../">giới thiệu</a>
                        </li>
                        <li class="nav-menu-item">
                            <a routerLink="../product">Sản phẩm</a>
                        </li>
                        <li class="nav-menu-item">
                            <a routerLink="../product-announ">Công bố sản phẩm</a>
                        </li>
                        <li class="nav-menu-item">
                            <a href="../assets/newpaper.html">Tin tức</a>
                        </li>
                        <li class="nav-menu-item">
                            <a href="../assets/contact.html">Tuyển dụng</a>
                        </li>
                        <li class="nav-menu-item">
                            <a routerLink="../contact">Liên hệ</a>
                        </li>
                    </ul>
                   <div class="nav-icon-search">
                    <img src="../assets/images/search.png" alt=""  class="nav-icon-search-circle">
                    <img src="../assets/images/searchdown.png" alt="" class="nav-icon-search-down">
                   </div>
                    <span class="nav-language">VN</span>
                    <img src="../assets/images/star.png" alt="" class="nav-icon-star">
                    <img src="../assets/images/drop-down.png" alt="" class="nav-icon-dropdown">
                    <button (click)="logIn()" class="button-log" *ngIf="isShowLogIn">Đăng nhâp</button>
                    <button (click)="logOut()" class="button-log" *ngIf="isShowLogOut">Đăng xuất</button>
                    <a routerLink="../admin" class="nav-menu-item userss" *ngIf="isShow">Quan tri vien</a>
                </nav>
            </div>
            <!-- <img src="../assets/images/Rectangle 385.png" alt="" class="header-highlight"> -->
            
        </div>
    </div>
</body>
</html>