<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiêu điểm</title>
</head>
<body>
    <div class="wrapper">
        <div class="newpapers reveal ">
            <div class="newpapers-blue newpapers-blue1 ">
                    <img src="../assets/images/blue-item.png" alt="">
            </div>
                <!-- <div class="newpapers-blue newpapers-blue2 ">
                    <img src="./images/blue-item.png" alt="">
                </div> -->
                <!-- <div class="newpapers-blue newpapers-blue3 ">
                    <img src="./images/blue-item.png" alt="">
                </div> -->
            <div class="container">
                <div class="newpapers-desc">
                        <h1 class="newpapers-desc-title title-h1">
                            Tiêu điểm
                        </h1>
                        <div class=" newpapers-desc-detal  detal">
                            Mới nhất
                        </div>
                </div>
                
            <div class="newpapers-list reveal">
                <div class="newpapers-list-box1 ">
                        <div class="newpapers-list-box1-text">Tiger Remix 2022 - Đại nhạc hội thực tế ảo hứa hẹn công phá mọi kỷ lục để chào đón năm mãnh hổ bùng nổ</div>
                </div>
                <div class="newpapers-list-box2 ">
                    <img src="../assets/images/newpapers-man.png" alt="" class="newpapers-w100">
                </div>
                <div  class="newpapers-list-box3 newpapers-box newpapers-h384">
                    HEINEKEN Việt Nam hướng tới mục tiêu đầy tham vọng vào năm 2025     
                </div>
                <div  class="newpapers-list-box4 newpapers-box newpapers-h384">
                    HEINEKEN Việt Nam: Phát triển bền vững với mô hình kinh tế tuần hoàn   
                </div>
                <div  class="newpapers-list-box5">
                    <img src="../assets/images/hoptac.png" alt="" class="newpapers-w100">
                </div>
                <div  class="newpapers-list-box6">
                    <img src="../assets/images/beer.png" alt="" class="newpapers-w100">
                </div>
                <div  class="newpapers-list-box7 newpapers-box newpapers-h384">
                    Amstel chính thức gia nhập thị trường Việt Nam - Nhãn hiệu bia cao cấp truyền cảm hứng sống khác biệt 
                </div>
                <div  class="newpapers-list-box8">
                    <img src="../assets/images/beer2.png" alt="" class="newpapers-w100">
                </div>
                <div  class="newpapers-list-box9 newpapers-box newpapers-h384">
                    Khuấy động mùa lễ hội rực rỡ cùng Heineken 
                </div>
            </div>
            <div class="newpapers-button">
                <a href="./newpaper.html" class="newpapers-button-more">Xem thêm</a>
            </div> 
            </div>
        </div>
    </div>
</body>
</html>
