<div class="wrapper">
    <div class="p-3">
        <h1 class="admin-highlight">Danh sách khách hàng gặp vấn đề cần liên hệ</h1>
        <table style="width:100%" class="table table-striped">
            <thead class="bg-dark text-white">
                <tr>

                    <th class="item-acount">Họ</th>
                    <th class="item-acount">Tên lót</th>
                    <th class="item-acount">Số điện thoại</th>
                    <th class="item-acount">Email</th>
                    <th class="item-acount">Nội dung liên hệ</th>
                    <th class="item-acount">Xử lý yêu cầu</th>
                </tr>
            </thead>
           <tbody *ngFor="let item of list" class="">
                <tr>
                    <td class="item-acount">{{item.lastname}}</td>
                    <td class="item-acount">{{item.firstname}}</td>
                    <td class="item-acount">{{item.phone}}</td>
                    <td class="item-acount">{{item.email}}</td>
                    <td class="item-acount">{{item.content}}</td>
                    <td class="item-acount "><button (click)="deleteContent(item.id)" class="button-delete">Xóa</button></td>
                </tr>
           </tbody>
        </table>
    </div>
</div>