
    <div class="wrapper">
        <div class="desc">
            <div class="desc-text">
                Trang chủ / <span class="desc-bold">Liên hệ</span>
            </div>
        </div>
        <div class="container">
            <div class="contactsupport-desc">
                    <h1 class="contactsupport-desc-title title-h1">
                        Cần hỗ trợ  
                    </h1>
                    <div class=" contactsupport-desc-detal  detal">
                        Liên hệ
                    </div>
            </div>
            <div class="contactsupport-box">
                
                <div class="contactsupport-box-highlight">
                    <div class="contactsupport-box-highlight-text">
                        <img src="./assets/images/contact-biteco.png" alt="" class="contactsupport-box-highlight-img">
                        <div class="contactsupport-box-support">
                            <h1 class="contactsupport-box-highlight-desc">Công ty nước giải khát</h1>
                            <div class="contactsupport-box-support-text">
                                Trụ sở: <span class="contactsupport-box-support-detail">77 Lê Trung Nghĩa, P.12, TP. Hồ Chí Minh –</span>
                            </div>
                            <div class="contactsupport-box-support-text">
                                Điện thoại: <span class="contactsupport-box-support-detail">1800 1234567</span>
                            </div>
                            <div class="contactsupport-box-support-text">
                                Email: <span class="contactsupport-box-support-detail">contactsupport@ngk.com</span>
                            </div>
                        </div>
                    </div>
                    <form class="contactsupport-box-form" (ngSubmit)="OnSubmit()">
                        <h1 class="contactsupport-box-form-h1">gửi email cho chúng tôi</h1>
                        <div class="contactsupport-box-form-item">
                            <div class="contactsupport-box-form-list">
                                <div class="contactsupport-box-form-detail contactsupport-box-form-detail-namephone">
                                    <label for="">Họ(Last name) <span style="color: red;">*</span></label>
                                    <input type="text" class="contactsupport-box-form-input" [(ngModel)]="list.lastname" [ngModelOptions]="{standalone: true}" required>
                                </div>
                            </div>
                            <div class="contactsupport-box-form-list">
                                <div class="contactsupport-box-form-detail ">
                                    <label for="">Tên(First name) <span style="color: red;">*</span></label>
                                    <input type="text" class="contactsupport-box-form-input"  [(ngModel)]="list.firstname" [ngModelOptions]="{standalone: true}"  required>
                                </div>
                            </div>
                            <div class="contactsupport-box-form-list">
                                <div class="contactsupport-box-form-detail contactsupport-box-form-detail-namephone">
                                    <label for="">Điện thoại(Mobile) <span style="color: red;">*</span></label>
                                    <input type="text" class="contactsupport-box-form-input"  [(ngModel)]="list.phone" [ngModelOptions]="{standalone: true} " required>
                                </div>
                            </div>
                            <div class="contactsupport-box-form-list">
                                <div class="contactsupport-box-form-detail">
                                    <label for="">Email <span style="color: red;">*</span></label>
                                    <input type="text" class="contactsupport-box-form-input"  [(ngModel)]="list.email" [ngModelOptions]="{standalone: true}  " required>
                                </div>
                            </div>
                        </div>
                        <div class="contactsupport-box-form-list-advise">
                            <label for="">Nội dung cần tư vấn</label>
                            <input type="text" class="contactsupport-box-form-input" [(ngModel)]="list.content" [ngModelOptions]="{standalone: true}"  required>
                        </div>
                        <span class="contactsupport-box-form-add">
                            Nếu bạn có ý kiến góp ý hoặc yêu cầu cần hỗ trợ từ NGK, 
                            vui lòng liên lạc ngay với chúng tôi tại đây. 
                            Chúng tôi sẽ xem xét và phản hồi sớm nhất có thể
                        </span>
                        <input type="submit" (click)="postContent()" class="contactsupport-box-form-button" value="Gửi liên hệ">
                    </form>
                </div>
            </div>
        </div>
    </div>