<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1>Thêm sản phẩm mới </h1>
            <table style="width:100%">
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>giảm giá(%)</th>
                    <th>Giá tiền(ngìn đồng)</th>
                    <th>Link ảnh sản phẩm</th>
                </tr>
                <tr>
                    <td>
                        <input type="text"class="input-addproduct" placeholder="Tên sản phẩm" [(ngModel)]="listadd.name" >
                    </td>
                    <td>
                        <input type="text" class="input-addproduct" placeholder="sale" [(ngModel)]="listadd.sale">
                    </td>
                    <td>
                        <input type="text" class="input-addproduct" placeholder="giá sản phẩm" [(ngModel)]="listadd.priceold">
                    </td>
                    <td>
                        <!-- <input type="file" [(ngModel)]="listadd.img"><br>
                        <span>Hoặc</span><br> -->
                        <input type="text" placeholder="img" [(ngModel)]="listadd.img">
                    </td>
                </tr>
        </table>
        <button class="addbutton" (click)="addProduct()">Thêm sản phẩm</button>
        </div>
    </div>
</body>
</html>