

            <div class="table-responsive">
                <div class="table-wrapper">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>giảm giá(%)</th>
                                <th>Giá tiền(ngìn đồng)</th>
                                <th>Mô tả sản phẩm</th>
                                <th>Link ảnh sản phẩm</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text"class="input-addproduct" placeholder="Tên sản phẩm" [(ngModel)]="listadd.name" >
                                </td>
                                <td>
                                    <input type="text" class="input-addproduct" placeholder="sale" [(ngModel)]="listadd.sale">
                                </td>
                                <td>
                                    <input type="text" class="input-addproduct" placeholder="giá sản phẩm" [(ngModel)]="listadd.priceold">
                                </td>
                                <td>
                                    <textarea class="input-addproduct" placeholder="Mô tảsản phẩm" [(ngModel)]="listadd.detail" rows="4" cols="50"></textarea> 
                                </td>
                                <td>
                                    <!-- <input type="file" [(ngModel)]="listadd.img"><br>
                                    <span>Hoặc</span><br> -->
                                    <input type="text" class="input-addproduct" placeholder="img" [(ngModel)]="listadd.img">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="addbutton" (click)="addProduct()">Thêm sản phẩm</button>

                </div>
            </div>  

    
    
    

