<section class="single">
    <div class="container">
        <div class="row">
            <div class="col-md-8" >
                <article class="article main-article">
                    <header>
                        <h1>{{newsDetail.name}}</h1>
                        <ul class="details">
                            <li>{{newsDetail.days}}</li>

                        </ul>
                    </header>
                    <div class="main">
                        <p>{{newsDetail.intro}}</p>
                        <div class="featured">
                            <figure>
                                <img class="setheight" src="{{newsDetail.image}}">
                                <figcaption>Image by nuocgiaikhat</figcaption>
                            </figure>
                        </div>
                        <p>{{newsDetail.detail}}</p>                           
                    </div>
                </article>
            </div>
            <div class="col-md-4 sidebar" id="sidebar">
                <aside>
                    <div class="aside-body">
                        <figure class="ads">
                            <img src="https://media.istockphoto.com/photos/drinks-for-celebration-4th-of-july-picture-id1253112566?b=1&k=20&m=1253112566&s=170667a&w=0&h=B44z9FlmyCBvwjTpNbYFO48dkFcoMSwac4PTbDdoqz0=">
                            <figcaption>Quản cáo.</figcaption>
                        </figure>
                    </div>
                </aside>
                <aside>
                    <h1 class="aside-title">Bài đăng gần đây</h1>
                    <div class="aside-body">
                        <article class="article-fw">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">												
                                        <img src="https://24hstore.vn/images/news/2022/09/23/resized/ava-tin-tuc-24hstore-520x290--7_1663903332.png">
                                    </a>
                                </figure>
                                <div class="details">
                                    <h1><a href="single.html">Sắm Mac ngay - Nhận phiếu mua hàng liền tay</a></h1>
                                    <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                    <div class="detail">
                                        <div class="time">December 26, 2016</div>
                                        <div class="category"><a href="category.html">Lifestyle</a></div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <div class="line"></div>
                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">
                                        <img src="https://media.istockphoto.com/photos/drinks-for-celebration-4th-of-july-picture-id1253112566?b=1&k=20&m=1253112566&s=170667a&w=0&h=B44z9FlmyCBvwjTpNbYFO48dkFcoMSwac4PTbDdoqz0=">
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a href="single.html">Duis aute irure dolor in reprehenderit in voluptate velit</a></h1>
                                    <div class="detail">
                                        <div class="category"><a href="category.html">Lifestyle</a></div>
                                        <div class="time">December 22, 2016</div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">
                                        <img src="images/news/img02.jpghttps://media.istockphoto.com/photos/drinks-for-celebration-4th-of-july-picture-id1253112566?b=1&k=20&m=1253112566&s=170667a&w=0&h=B44z9FlmyCBvwjTpNbYFO48dkFcoMSwac4PTbDdoqz0=">
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a href="single.html">Fusce ullamcorper elit at felis cursus suscipit</a></h1>
                                    <div class="detail">
                                        <div class="category"><a href="category.html">Travel</a></div>
                                        <div class="time">December 21, 2016</div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">
                                        <img src="https://media.istockphoto.com/photos/drinks-for-celebration-4th-of-july-picture-id1253112566?b=1&k=20&m=1253112566&s=170667a&w=0&h=B44z9FlmyCBvwjTpNbYFO48dkFcoMSwac4PTbDdoqz0=">
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a href="single.html">Duis aute irure dolor in reprehenderit in voluptate velit</a></h1>
                                    <div class="detail">
                                        <div class="category"><a href="category.html">International</a></div>
                                        <div class="time">December 20, 2016</div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </aside>
                <aside>
                    <div class="aside-body">
                        <form class="newsletter">
                            <div class="icon">
                                <i class="ion-ios-email-outline"></i>
                                <h1>Newsletter</h1>
                            </div>
                            <div class="input-group">
                                <input type="email" class="form-control email" placeholder="Your mail">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary"><i class="ion-paper-airplane"></i></button>
                                </div>
                            </div>
                            <p>By subscribing you will receive new articles in your email.</p>
                        </form>
                    </div>
                </aside>
            </div>
          
              
        </div>
        
    </div>
</section>
