<section class="single">
    <div class="container">
        <div class="row">
            <div class="col-md-4 sidebar" id="sidebar">
                <aside>
                    <div class="aside-body">
                        <figure class="ads">
                            <img src="https://media.istockphoto.com/photos/drinks-for-celebration-4th-of-july-picture-id1253112566?b=1&k=20&m=1253112566&s=170667a&w=0&h=B44z9FlmyCBvwjTpNbYFO48dkFcoMSwac4PTbDdoqz0=">
                            <figcaption>Quản cáo.</figcaption>
                        </figure>
                    </div>
                </aside>
                <aside>
                    <h1 class="aside-title">Bài đăng gần đây</h1>
                    <div class="aside-body">
                        <article class="article-fw">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">												
                                        <img src="https://24hstore.vn/images/news/2022/09/23/resized/ava-tin-tuc-24hstore-520x290--7_1663903332.png">
                                    </a>
                                </figure>
                                <div class="details">
                                    <h1><a href="single.html">Sắm Mac ngay - Nhận phiếu mua hàng liền tay</a></h1>
                                    <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                    <div class="detail">
                                        <div class="time">December 26, 2016</div>
                                        <div class="category"><a href="category.html">Lifestyle</a></div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <div class="line"></div>
                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">
                                        <img src="https://media.istockphoto.com/photos/drinks-for-celebration-4th-of-july-picture-id1253112566?b=1&k=20&m=1253112566&s=170667a&w=0&h=B44z9FlmyCBvwjTpNbYFO48dkFcoMSwac4PTbDdoqz0=">
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a href="single.html">Duis aute irure dolor in reprehenderit in voluptate velit</a></h1>
                                    <div class="detail">
                                        <div class="category"><a href="category.html">Lifestyle</a></div>
                                        <div class="time">December 22, 2016</div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">
                                        <img src="images/news/img02.jpghttps://media.istockphoto.com/photos/drinks-for-celebration-4th-of-july-picture-id1253112566?b=1&k=20&m=1253112566&s=170667a&w=0&h=B44z9FlmyCBvwjTpNbYFO48dkFcoMSwac4PTbDdoqz0=">
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a href="single.html">Fusce ullamcorper elit at felis cursus suscipit</a></h1>
                                    <div class="detail">
                                        <div class="category"><a href="category.html">Travel</a></div>
                                        <div class="time">December 21, 2016</div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">
                                        <img src="https://media.istockphoto.com/photos/drinks-for-celebration-4th-of-july-picture-id1253112566?b=1&k=20&m=1253112566&s=170667a&w=0&h=B44z9FlmyCBvwjTpNbYFO48dkFcoMSwac4PTbDdoqz0=">
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a href="single.html">Duis aute irure dolor in reprehenderit in voluptate velit</a></h1>
                                    <div class="detail">
                                        <div class="category"><a href="category.html">International</a></div>
                                        <div class="time">December 20, 2016</div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </aside>
                <aside>
                    <div class="aside-body">
                        <form class="newsletter">
                            <div class="icon">
                                <i class="ion-ios-email-outline"></i>
                                <h1>Newsletter</h1>
                            </div>
                            <div class="input-group">
                                <input type="email" class="form-control email" placeholder="Your mail">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary"><i class="ion-paper-airplane"></i></button>
                                </div>
                            </div>
                            <p>By subscribing you will receive new articles in your email.</p>
                        </form>
                    </div>
                </aside>
            </div>
            <div class="col-md-8">
                <article class="article main-article">
                    <header>
                        <h1>Sắm Mac ngay - Nhận phiếu mua hàng liền tay</h1>
                        <ul class="details">
                            <li>Posted on 31 October, 2022</li>

                        </ul>
                    </header>
                    <div class="main">
                        <p>24hStore xin gửi tới Quý khách hàng chương trình khuyến mãi “Sắm Mac ngay - Nhận phiếu mua hàng liền tay” - không những giúp bạn có thể sở hữu những sản phẩm MacBook, iMac hay Mac mini với mức giá siêu ưu đãi mà còn nhận thêm Phiếu mua hàng phụ kiện với giá trị lên đến 700.000đ! Hãy cùng xem qua nội dung chương trình khuyến mãi trong bài viết bên dưới nhé!</p>
                        <div class="featured">
                            <figure>
                                <img src="https://24hstore.vn/upload_images/images/SEO/ONPAGE/sam-macbook-nhan-pmh/sam-macbook-nhan-pmh-1.jpg">
                                <figcaption>Image by 24hstore.vn</figcaption>
                            </figure>
                        </div>

                            <p>Nulla facilisi. Aenean pharetra fringilla nunc a finibus. Nulla vitae pretium nunc. Pellentesque sagittis sollicitudin turpis id aliquam. Cras lobortis diam in nunc posuere, et malesuada sem gravida. Curabitur ornare massa id orci faucibus elementum. Phasellus pharetra, velit <a href="#">in egestas rutrum,</a> metus dolor maximus massa, feugiat molestie eros mauris sit amet massa. Maecenas blandit diam lacus, in luctus nulla efficitur nec. Sed sit amet quam sit amet odio scelerisque vestibulum vel sit amet ante. Cras fringilla efficitur lacinia. Cras posuere, arcu id consequat ultrices, urna urna cursus massa, at sollicitudin elit lacus quis dui. In laoreet nulla a turpis blandit sollicitudin. Donec in risus eu lorem volutpat hendrerit quis non lorem. Nulla in metus ipsum.
                            <p>Etiam sit amet augue non velit aliquet consectetur. Proin gravida, odio in facilisis pharetra, neque enim aliquam eros, vitae gravida orci elit vel magna. Integer viverra a purus id gravida. Donec laoreet mi ac auctor ultricies. Pellentesque ullamcorper est et erat ullamcorper gravida. In hac habitasse platea dictumst. Pellentesque justo mauris, mollis at tortor ut, commodo venenatis elit. Curabitur suscipit pellentesque nunc, id tempus mi facilisis sed. Curabitur molestie eu odio vitae condimentum. Donec placerat tristique neque a blandit. Nullam commodo massa ut eros elementum, in suscipit libero aliquam.</p>
                           
                    </div>
                </article>
            </div>
              
        </div>
        
    </div>
</section>
