<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1 class="quantrivien">Quản trị viên(Admin)</h1>
          <div class="border">
            
            <a routerLink="../admin/admin-contact" class="thea thea-1">Quản lý liên hệ từ khách hàng </a><br>
            <a routerLink="../admin/admin-product" class="thea thea-2">Quản lý sản phẩm </a><br>
          </div>
        </div>
       
    </div>
</body>
</html>
<router-outlet></router-outlet>
