<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="wrapper">
        <div class="container">
            <h1 class="admin-highlight">Danh sách khách hàng gặp vấn đề cần liên hệ</h1>
            <table style="width:100%">
                <tr>
                <th>Họ</th>
                <th>Tên lót</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Nội dung liên hệ</th>
                <th></th>

                </tr>
                <tr>
                <td>list.lastname</td>
                <td>list.firstname</td>
                <td>list.phone</td>
                <td>list.email</td>
                <td>list.content</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>