.wrapper{
    max-width: 1920px;
    z-index: 1;
}
.container{
    
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
table, th, td {
    border:1px solid black;
    text-align: center;
    // background-color: rgb(241, 237, 237);
}
.anhsanpham{
    text-align: center;
    width: 100px;
    height: 100px;
}
th,td{
    font-size: 19px;
}
.buttonclick{
    cursor: pointer;
    font-size: 18px;
    padding: 10px 30px;
    margin-left:  10px;
    color: white;
    background-color: #034DA2;
    border: none;
    border-radius: 20px;
    &:hover{
        background-color: rgb(88, 18, 200);
        color: white;
    }
}
.addproduct{
    display: inline-block;
    // border: 1px solid black;
    // background-color: #034DA2;
    // color: white;
    padding: 10px ;
    // border-radius:20px ;
    &-link{
        border-radius:20px ;
        margin-left: 20px;
        padding: 10px 20px;
        font-size: 20px;
        text-decoration: none;
        background-color: #034DA2;
        color: white;
        &:hover{
            background-color: rgb(88, 18, 200);
            color: white;
        }
    }
}