<!-- <p>admin-product-highlight works!</p>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="header title">
        Danh sách quản lý  sản phẩm
    </h1>
    
    <h3 class="addproduct">Thêm sản phẩm:</h3>
    <a routerLink="../admin-addproduct" class="addproduct-link">Thêm</a>
    <table style="width:100%">
        <tr>
            <th>Tên sản phẩm</th>
            <th>Giá gốc(nghìn đồng)</th>
            <th>Ảnh sản phẩm</th>
            <th>Admin</th>
        </tr>
        <tbody *ngFor="let item of listproductAdmin">
            <tr ng-app="">
                <td>{{item.name}}</td>
                <td>{{item.priceold}}</td>
                <td>{{item.priceold - ((item.priceold * item.sale)/100) | number:'1.0-0'}}</td>
                <td><img src="{{item.img}}" alt="" class="anhsanpham"></td>
                <td>
                    <button routerLink="../admin-editproduct/{{item.id}}" class="buttonclick">Sửa</button> 
                    <button class="buttonclick" (click)="deleteProduct(item.id)">Xóa</button>
                </td>
            </tr>
            </tbody>
    </table>
    
</body>
</html> -->