<!DOCTYPE html>
<html lang="en">
<app-head></app-head>
<body>
    <app-header></app-header>
    
    <div class="">
        <div class="container-xl ">
            <div class="text-center ">
                <h2><b>Nổi bật</b></h2>		
                <section class="banner">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <!-- <span class="wish-icon"><i class="fa fa-heart-o"></i></span> -->
                                        <div class="img-box">
                                            <img src="https://cdn.tgdd.vn/Products/Images/2282/214413/bhx/6-lon-bia-sai-gon-export-330ml-202205211653156464_300x300.jpg" class="img-fluid" alt="Macbook">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>6 lon bia sài gòn</h4>									
                                            <div class="star-rating mb-2">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                                </ul>
                                            </div>
                                            <p class="item-price mb-2"><del class="mr-3">100.000đ</del> <b>72.000đ</b></p>
                                            <a href="#" class="btn btn-primary cart-highlight">Thêm vào giỏ hàng</a>
                                        </div>						
                                    </div>
                                </div>			
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <!-- <span class="wish-icon"><i class="fa fa-heart-o"></i></span> -->
                                        <div class="img-box">
                                            <img src="https://cdn.tgdd.vn/Products/Images/2282/171020/bhx/6-lon-bia-tiger-crystal-330ml-202205202033028588_300x300.jpg" class="img-fluid" alt="">									
                                        </div>
                                        <div class="thumb-content">
                                            <h4>6 lon bia Tiger scrystal</h4>									
                                            <div class="star-rating mb-2">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <p class="item-price mb-2"><del class="mr-3">118.000đ</del> <b>102.000đ</b></p>
                                            <a href="#" class="btn btn-primary cart-highlight">Thêm vào giỏ hàng</a>
                                        </div>						
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <!-- <span class="wish-icon"><i class="fa fa-heart-o"></i></span> -->
                                        <div class="img-box">
                                            <img src="https://cdn.tgdd.vn/Products/Images/2282/214413/bhx/6-lon-bia-sai-gon-export-330ml-202205211653156464_300x300.jpg" class="img-fluid" alt="Macbook">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>6 lon bia sài gòn</h4>									
                                            <div class="star-rating mb-2">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                                </ul>
                                            </div>
                                            <p class="item-price mb-2"><del class="mr-3">100.000đ</del> <b>72.000đ</b></p>
                                            <a href="#" class="btn btn-primary cart-highlight">Thêm vào giỏ hàng</a>
                                        </div>						
                                    </div>
                                </div>			
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <!-- <span class="wish-icon"><i class="fa fa-heart-o"></i></span> -->
                                        <div class="img-box">
                                            <img src="https://cdn.tgdd.vn/Products/Images/2282/148786/bhx/6-lon-bia-heineken-sleek-330ml-202205202030048636_300x300.jpg" class="img-fluid" alt="Headphone">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>6 lon bia heineken</h4>									
                                            <div class="star-rating mb-2">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <p class="item-price mb-2"><del class="mr-3">118.000đ</del> <b>100.000đ</b></p>
                                            <a href="#" class="btn btn-primary cart-highlight">Thêm vào giỏ hàng</a>
                                        </div>						
                                    </div>
                                </div>		
                            </div>	
                            
                        </ng-template>  
                        <ng-template carouselSlide>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <!-- <span class="wish-icon"><i class="fa fa-heart-o"></i></span> -->
                                        <div class="img-box">
                                            <img src="https://cdn.tgdd.vn/Products/Images/2282/214413/bhx/6-lon-bia-sai-gon-export-330ml-202205211653156464_300x300.jpg" class="img-fluid" alt="Macbook">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>6 lon bia sài gòn</h4>									
                                            <div class="star-rating mb-2">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                                </ul>
                                            </div>
                                            <p class="item-price mb-2"><del class="mr-3">100.000đ</del> <b>72.000đ</b></p>
                                            <a href="#" class="btn btn-primary cart-highlight">Thêm vào giỏ hàng</a>
                                        </div>						
                                    </div>
                                </div>			
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <!-- <span class="wish-icon"><i class="fa fa-heart-o"></i></span> -->
                                        <div class="img-box">
                                            <img src="https://cdn.tgdd.vn/Products/Images/2282/214413/bhx/6-lon-bia-sai-gon-export-330ml-202205211653156464_300x300.jpg" class="img-fluid" alt="Macbook">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>6 lon bia sài gòn</h4>									
                                            <div class="star-rating mb-2">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                                </ul>
                                            </div>
                                            <p class="item-price mb-2"><del class="mr-3">100.000đ</del> <b>72.000đ</b></p>
                                            <a href="#" class="btn btn-primary cart-highlight">Thêm vào giỏ hàng</a>
                                        </div>						
                                    </div>
                                </div>			
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <!-- <span class="wish-icon"><i class="fa fa-heart-o"></i></span> -->
                                        <div class="img-box">
                                            <img src="https://cdn.tgdd.vn/Products/Images/2282/171020/bhx/6-lon-bia-tiger-crystal-330ml-202205202033028588_300x300.jpg" class="img-fluid" alt="">									
                                        </div>
                                        <div class="thumb-content">
                                            <h4>6 lon bia Tiger scrystal</h4>									
                                            <div class="star-rating mb-2">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <p class="item-price mb-2"><del class="mr-3">118.000đ</del> <b>102.000đ</b></p>
                                            <a href="#" class="btn btn-primary cart-highlight">Thêm vào giỏ hàng</a>
                                        </div>						
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <!-- <span class="wish-icon"><i class="fa fa-heart-o"></i></span> -->
                                        <div class="img-box">
                                            <img src="https://cdn.tgdd.vn/Products/Images/2282/148786/bhx/6-lon-bia-heineken-sleek-330ml-202205202030048636_300x300.jpg" class="img-fluid" alt="Headphone">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>6 lon bia heineken</h4>									
                                            <div class="star-rating mb-2">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <p class="item-price mb-2"><del class="mr-3">118.000đ</del> <b>100.000đ</b></p>
                                            <a href="#" class="btn btn-primary cart-highlight">Thêm vào giỏ hàng</a>
                                        </div>						
                                    </div>
                                </div>		
                            </div>	
                        </ng-template>  
                        <ng-template carouselSlide>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <!-- <span class="wish-icon"><i class="fa fa-heart-o"></i></span> -->
                                        <div class="img-box">
                                            <img src="https://cdn.tgdd.vn/Products/Images/2282/214413/bhx/6-lon-bia-sai-gon-export-330ml-202205211653156464_300x300.jpg" class="img-fluid" alt="Macbook">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>6 lon bia sài gòn</h4>									
                                            <div class="star-rating mb-2">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                                </ul>
                                            </div>
                                            <p class="item-price mb-2"><del class="mr-3">100.000đ</del> <b>72.000đ</b></p>
                                            <a href="#" class="btn btn-primary cart-highlight">Thêm vào giỏ hàng</a>
                                        </div>						
                                    </div>
                                </div>			
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <!-- <span class="wish-icon"><i class="fa fa-heart-o"></i></span> -->
                                        <div class="img-box">
                                            <img src="https://cdn.tgdd.vn/Products/Images/2282/266102/bhx/loc-6-lon-strongbow-tao-330ml-202205211837412740_300x300.jpg" class="img-fluid" alt="Macbook">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>6 lon Strongbow Táo</h4>									
                                            <div class="star-rating mb-2">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                                </ul>
                                            </div>
                                            <p class="item-price mb-2"><del class="mr-3">430.000đ</del> <b>224.000đ</b></p>
                                            <a href="#" class="btn btn-primary cart-highlight">Thêm vào giỏ hàng</a>
                                        </div>						
                                    </div>
                                </div>			
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <!-- <span class="wish-icon"><i class="fa fa-heart-o"></i></span> -->
                                        <div class="img-box">
                                            <img src="https://cdn.tgdd.vn/Products/Images/2282/171020/bhx/6-lon-bia-tiger-crystal-330ml-202205202033028588_300x300.jpg" class="img-fluid" alt="">									
                                        </div>
                                        <div class="thumb-content">
                                            <h4>6 lon bia Tiger scrystal</h4>									
                                            <div class="star-rating mb-2">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <p class="item-price mb-2"><del class="mr-3">118.000đ</del> <b>102.000đ</b></p>
                                            <a href="#" class="btn btn-primary cart-highlight">Thêm vào giỏ hàng</a>
                                        </div>						
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <!-- <span class="wish-icon"><i class="fa fa-heart-o"></i></span> -->
                                        <div class="img-box">
                                            <img src="https://cdn.tgdd.vn/Products/Images/2282/148786/bhx/6-lon-bia-heineken-sleek-330ml-202205202030048636_300x300.jpg" class="img-fluid" alt="Headphone">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>6 lon bia heineken</h4>									
                                            <div class="star-rating mb-2">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <p class="item-price mb-2"><del class="mr-3">118.000đ</del> <b>100.000đ</b></p>
                                            <a href="#" class="btn btn-primary cart-highlight">Thêm vào giỏ hàng</a>
                                        </div>						
                                    </div>
                                </div>		
                            </div>	
                        </ng-template>  
                    </owl-carousel-o>
                </section>
            </div>	                    
            
            
            <div class="highlight">
                <p class="highlight-content">Bia, các loại nước giải khát</p>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 mb-4"  *ngFor="let item of listProduct | 
                            paginate: { itemsPerPage: 12, currentPage: page,
                                totalItems:totalLength
                            }">
                    <div class="product-grid">
                        <div class="product-image">
                            <a routerLink="../detail/{{item.id}}"  class="image">
                                <img class="pic-1" src="{{item.img}}">
                            </a>
                            <span class="product-discount-label">-{{item.sale}}%</span>
                            <ul class="product-links">
                                <li><a href="#" data-tip="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#" data-tip="Compare"><i class="fa fa-random"></i></a></li>
                                <li><a href="#" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                        <div class="product-content">
                            <!-- <ul class="rating">
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="far fa-star"></li>
                                <li class="far fa-star"></li>
                            </ul> -->
                            <h3 class="title"><a href="#">{{item.name}}</a></h3>
                            <div class="price"><del class="mr-2">{{item.priceold}}.000đ</del>{{item.priceold - ((item.priceold * item.sale)/100) | number:'1.0-0'}}.000đ</div>
                            <a class="add-to-cart" routerLink="../cart/{{item.id}}">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="container">
            <pagination-controls (pageChange)="page = $event" style="text-align:center"></pagination-controls>
        </div>
        </div>
    </div>
    <app-footer></app-footer>
    



</body>
</html>