
    <div class="font">
        <div class="container ">
            <div class="text-center ">
                <h2 class="d-inline-block"><b>Nổi bật</b></h2>		
                <section class="banner">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide >
                            <div class="row mb-3" >  
                            
                                <div class="col-sm-3"  *ngFor="let hl of listProductHighlight">
                                    <div class="product-grid">
                                        <div class="product-image">
                                            <a routerLink="../detail/{{hl.id}}"  class="image">
                                                <img class="pic-1" src="{{hl.img}}">
                                            </a>
                                            <span class="product-discount-label">-{{hl.sale}}%</span>
                                            <ul class="product-links">
                                                <li><a (click)="addtowlist(hl)"    data-tip="Add to Wishlist"><i class="fas fa-heart" ></i></a></li>
                                                <!-- <li><a href="#" data-tip="Compare"><i class="fa fa-random"></i></a></li> -->
                                                <li><a routerLink="../detail/{{hl.id}}" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </div>
                                        
                                        <div class="product-content">
                                            
                                            <h3 class="title"><a href="#">{{hl.name}}</a></h3>
                                            <!-- {{item.priceold - ((item.priceold * item.sale)/100) | number:'1.0-0'}} -->
                                            <div class="price"> {{hl.priceold}}.000đ</div>
                                            <a class="add-to-cart" (click)="addtoCart(hl)">Thêm vào giỏ hàng</a>
                                        </div>
                                    </div>
                                </div>			
	
                            </div>	
                            
                        </ng-template> 
                        <ng-template carouselSlide >
                            <div class="row mb-3" >  
                            
                                <div class="col-sm-3"  *ngFor="let hl of listProductHighlight">
                                    <div class="product-grid">
                                        <div class="product-image">
                                            <a routerLink="../detail/{{hl.id}}"  class="image">
                                                <img class="pic-1" src="{{hl.img}}">
                                            </a>
                                            <span class="product-discount-label">-{{hl.sale}}%</span>
                                            <ul class="product-links">
                                                <li><a (click)="addtowlist(hl)"    data-tip="Add to Wishlist"><i class="fas fa-heart" ></i></a></li>
                                                <!-- <li><a href="#" data-tip="Compare"><i class="fa fa-random"></i></a></li> -->
                                                <li><a routerLink="../detail/{{hl.id}}" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product-content">
                                            <!-- <ul class="rating">
                                                <li class="fas fa-star"></li>
                                                <li class="fas fa-star"></li>
                                                <li class="fas fa-star"></li>
                                                <li class="far fa-star"></li>
                                                <li class="far fa-star"></li>
                                            </ul> -->
                                            <h3 class="title"><a href="#">{{hl.name}}</a></h3>
                                            <!-- {{item.priceold - ((item.priceold * item.sale)/100) | number:'1.0-0'}} -->
                                            <div class="price"> {{hl.priceold}}.000đ</div>
                                            <a class="add-to-cart"(click)="addtoCart(hl)" >Thêm vào giỏ hàng</a>
                                        </div>
                                    </div>
                                </div>			
	
                            </div>	
                            
                        </ng-template>    
                    </owl-carousel-o>
                </section>
            </div>	                    
            
            
            <div class="highlight">
                <p class="highlight-content">Bia, các loại nước giải khát</p>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 mb-4"  *ngFor="let item of listProduct | paginate: { itemsPerPage: 12, currentPage: page,totalItems:totalLength }">
                    <div class="product-grid">
                        <div class="product-image">
                            <a routerLink="../detail/{{item.id}}"  class="image">
                                <img class="pic-1 img-wh" src="{{item.img}}">
                            </a>
                            <span class="product-discount-label">-{{item.sale}}%</span>
                            <ul class="product-links">
                                <li><a (click)="addtowlist(item)"  data-tip="Add to Wishlist"><i class="fas fa-heart" ></i></a></li>
                                <!-- <li><a href="#" data-tip="Compare"><i class="fa fa-random"></i></a></li> -->
                                <li><a routerLink="../detail/{{item.id}}" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>

                        <div class="product-content">
                            
                            <!-- <ul class="rating">
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="far fa-star"></li>
                                <li class="far fa-star"></li>
                            </ul> -->
                            <h3 class="title tilte-name"><a href="#">{{item.name}}</a></h3>
                            
                            <!-- {{item.priceold - ((item.priceold * item.sale)/100) | number:'1.0-0'}} -->
                            <div class="price"> {{item.priceold}}.000đ</div>
                            
                            <a class="add-to-cart" (click)="addtoCart(item)">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                    <!-- <div class="col-md-3 col-lg-3 col-xl-2 d-flex add-to-qty "  >
                        <button class="btn btn-link px-2" (click)="Desc(item)" >
                          <i class="fas fa-minus"></i>
                        </button>
                        <input style="width:60px"
                            [(ngModel)]="item.qtyTotal"
                            [ngModelOptions]="{ standalone: true }"
                            min="1"
                            type="number"
                            value="{{item.qtyTotal}}"
                            name=""
                            class="form-control"/>
    
                        <button class="btn btn-link px-2" (click)="Insc(item)">
                          <i class="fas fa-plus"></i>
                        </button>
                    </div> -->
                </div>

            </div>
        
            <div class="container pag-fix">
                <pagination-controls 

                (pageChange)="page = $event"
                style="text-align:center"
                [previousLabel]="labels.previousLabel"
                [nextLabel]="labels.nextLabel"
                ></pagination-controls>
            </div>
        </div>
    </div>
    



